// _globals.scss

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: $white;
  color: $black;
  max-width: 960 / 16 * 1em;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 832 / 16 * 1em;
  margin: 0 auto;
}
