// _grid.scss

.col1-2 {
  width: 50%;
}

.col1-3 {
  width: 33.3333%;
}

.col1-4 {
  width: 25%;
}

*.row {
  padding-top: 2em;
  &:after {
    @include clearfix;
  }
  &:last-of-type {
    padding-bottom: 2em;
  }
}

article[class*='col'] {
  float: left;
}
