// _page-footer.scss

.page-footer {
  background: $grey-footer;
  color: $grey-body-footer;
}

.refer-friend {
  position: relative;
  bottom: 1.75rem;
  background: url('../images/large_leather.jpg');
  border: 3px solid #777;
  width: 483 / 16 * 1rem;
  margin: 0 auto;
  border-radius: 17px;
  text-align: center;
  text-transform: uppercase;
  font: 2.4em/1 $font-stack-sans;
  letter-spacing: 1px;
  padding: 1rem 1rem;
  box-shadow: 4px 4px 4px #999;
  p {
    margin: 0 .3rem;
    display: inline-block;
    width: 65 / 30 * 1rem;
    height: 56 / 30 * 1rem;
    img {
      vertical-align: bottom;
    }
    span {
      @include visuallyhidden;
    }
  }
  a {
    -webkit-text-stroke: .0125em #aaa;
    text-shadow: 2px 1px 0 #444;
    text-decoration: none;
    color: white;
  }
}
