// _page-footer.scss

.page-footer {
  background: $grey-footer;
  padding-bottom: 6em;
  h2 {
    margin: 0;
    padding: 1rem 0 1.5rem 0;
    text-align: center;
    font-weight: 500;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
    a {
    text-decoration: none;
    color: $grey-headline-footer;
    }
  }
  p {
    margin: 0;
    padding-bottom: 3.5rem;
    color: $grey-body-footer;
    line-height: 1.7;
    text-align: center;
  }
  &> div {
    width: 640 / 16 * 1em;
    margin: 0 auto;
    @include clearfix;
  }
  &> p {
    margin-top: 4em;
    font-size: .9em;
    padding-bottom: 2.5em;
  }
}

.refer-friend {
  position: relative;
  bottom: 2rem;
  background: url('../images/large_leather.jpg');
  border: 3px solid #777;
  width: 483 / 16 * 1rem;
  margin: 0 auto;
  border-radius: 17px;
  text-align: center;
  text-transform: uppercase;
  font: 2.5em/1 $font-stack-sans;
  letter-spacing: .0125em;
  padding: 1.25rem 1rem;
  box-shadow: 4px 4px 4px #999;
  p {
    margin: 0 .3rem;
    display: inline-block;
    width: 65 / 30 * 1rem;
    height: 56 / 30 * 1rem;
    line-height: 1;
    padding-bottom: 0;
    img {
      /*vertical-align: bottom;*/
    }
    span {
      @include visuallyhidden;
    }
  }
  a {
    -webkit-text-stroke: .0125em #aaa;
    text-shadow: 2px 1px 0 #444;
    text-decoration: none;
    color: white;
  }
}

.join-email {
  float: left;
  font: 100 1.5em/1.1 $font-stack-sans;
  text-transform: uppercase;
  @include clearfix;
  h3 {
    padding-bottom: .25em;
    margin: 0;
    font-weight: 500;
    color: $grey-headline-footer;
  }
  span {
    display: block;
  }
  p {
    margin: 0;
    float: left;
    color: $grey-body-footer;
    input {
      border: none;
    }
  }
  p:first-child input {
    font: .65em/1 $font-stack-serif;
    background: $grey-lighter-footer;
    padding: 1.45em 2.65em 1.45em 1.45em;
  }
  p:nth-child(2) input {
    font: .65em/1 $font-stack-sans;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #ccc;
    padding: 1.45em 1.65em;
  }
}

.social-media {
  float: left;
  margin: 0 0 0 4.4em;
  padding: 0;
  font-size: 1.2em;
  li {
    list-style-type: none;
    margin-bottom: .5em;
    }
  a {
    padding: .5em;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: $grey-headline-footer;
    border: 1px solid $grey-headline-footer;
    border-radius: 100%;
    &:hover {
      color: $blue;
      border: 1px solid $blue;
    }
  }
}

.footer-nav {
  list-style-type: none;
  float: left;
  margin: 0 0 0 4.5em;
  padding: 0;
  li {
    margin-bottom: .75em;
  }
  a {
    color: $grey-body-footer;
    &:hover {
      color: $grey-headline-footer;
    }
  }
  span {
    display: block;
    margin-top: .75em;
  }
}

.footer-logo {
  margin: 0;
  padding: 0;
  text-align: center;
}
