// _page-footer.scss

.page-footer {
  background: $grey-footer;
  padding-bottom: 6em;
  h2 {
    margin: 0;
    padding: 1rem 0 1.5rem 0;
    text-align: center;
    font-weight: 500;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
    a {
    text-decoration: none;
    color: $grey-headline-footer;
    }
  }
  p {
    margin: 0;
    color: $grey-body-footer;
    line-height: 1.7;
    text-align: center;
  }
  &> div {
    width: 640 / 16 * 1em;
    margin: 0 auto;
    @include clearfix;
    &> p {
      padding-bottom: 3.5em;
    }
  }
  &> p {
    margin-top: 4em;
    font-size: .9em;
    padding-bottom: 2.5em;
  }
}

.footer-nav {
  list-style-type: none;
  float: left;
  margin: 0 0 0 4.5em;
  padding: 0;
  li {
    margin-bottom: .75em;
  }
  a {
    color: $grey-body-footer;
    &:hover {
      color: $grey-headline-footer;
    }
  }
  span {
    display: block;
    margin-top: .75em;
  }
}

.footer-logo {
  margin: 0;
  padding: 0;
  text-align: center;
}
