// _page-header.scss

.page-header {
	position: fixed;
	top: 0;
	z-index: 9999;
	width: 960 / 16 * 1rem;
	background: $white;
	font: 500 1.3em/1 $font-stack-sans;
	letter-spacing: 1px;
	text-transform: uppercase;
	nav {
		padding: .5rem .5rem 1.75rem .5rem;
	}
	a {
		color: $grey-nav;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
			color: $black-nav;
		}
	}
	li {
		float: left;
		margin-right: 2rem;
	}
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	@include clearfix;
}

.nav-first-line {
	padding-bottom: .5rem;
	div {
		display: inline-block;
	}
	aside {
	  	display: inline-block;
		font-size: 1.4rem;
		a:hover {
			text-decoration: none;
			color: $grey-lighter-nav;
		}
	}
	aside:first-child {
		float: left;
	}
	aside:last-of-type {
		float: right;
	}
	ul {
		display: inline-block;
		&:first-child {
			padding-left: 12.5rem;
		}
		&:last-of-type {
			margin-right: initial;
			margin-left: 2rem;
		}
	}
}

.main-logo {
	margin-bottom: .125rem;
	display: inline-block;
	a {
		display: block;
		width: 118 / 16 * 1rem;
		height: 21 / 16 * 1rem;
	}
	h1 {
		@include visuallyhidden;
	}
}

.page-header .nav-second-line {
	margin-left: 3.2rem;
	@include clearfix;
}
