// _variables.scss

// Colors
$white: #fff;
$black: #444;
$grey: #eee;

// Fonts
$font-stack-sans: "kaffeesatz",sans-serif;

// Nav Colors
$grey-nav: #999;
$black-nav: #444;

// Body Colors
$grey-headline: #666;
$grey-subhead: #888;

// Footer Colors
$grey-footer: #E5E5E5;
$grey-headline-footer: #555;
$grey-body-footer: #777;
$blue: #20529D;
