// _variables.scss

// Colors
$white: #fff;
$black: #444;
$grey: #eee;

// Fonts
$font-stack-sans: "kaffeesatz",sans-serif;
$font-stack-serif: georgia, 'times', serif;

// Nav Colors
$grey-nav: #999;
$black-nav: #444;

// Body Colors
$grey-headline: #666;
$grey-subhead: #888;

// Footer Colors
$grey-footer: #E5E5E5;
$grey-lighter-footer: #eee;
$grey-headline-footer: #555;
$grey-body-footer: #777;
$grey-paragraph: #999;
$blue: #20529D;
